{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.1"}
  org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}
  org.clojure/tools.cli {:mvn/version "1.1.230"}
  rewrite-clj/rewrite-clj {:mvn/version "1.2.50"}
  version-clj/version-clj {:mvn/version "2.0.3"}}

 :aliases
 {:cider
  {:extra-paths ["dev"]
   :extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                cider/cider-nrepl {:mvn/version "0.57.0"}}
   :main-opts ["-m" "depot.dev.cider"]}

  :prepl
  {:jvm-opts ["-Dclojure.server.repl={:port,30505,:accept,clojure.core.server/io-prepl}"]}

  :test
  {:extra-deps {;; Only here to check depot functionality.
                org.slf4j/slf4j-simple {:mvn/version "2.0.17"}
                clj-time/clj-time {:mvn/version "0.15.2"}
                cider/cider-nrepl {:mvn/version "0.57.0"}
                olical/cljs-test-runner {:git/url "https://github.com/Olical/cljs-test-runner.git"
                                         :git/sha "5a18d41648d5c3a64632b5fec07734d32cca7671"}

                ;; Actually here to run tests.
                lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :outdated {:replace-deps {olical/depot {:mvn/version "RELEASE"}}
             :main-opts ["-m" "depot.outdated.main"]}}}
